*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

#navbar{
    nav{
        // display: grid;
        // grid-template-columns: repeat(5,1fr);
        // text-align: center;
        display: flex;
        justify-content: center;
        
        a{
            color: indianred;
            font-weight: bold;
            text-decoration: none;
            padding: 20px 30px;
        }

    }
}